@import "../App.scss";

.about {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }
  &__imageContainer {
    height: 16rem;
    padding: 1rem 0;
    // width: 15rem;
  }
  &__image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15rem;
  }
}

@include md {
  .about {
    &__container {
      flex-direction: row;

      // justify-content: center;
    }
    &__imageContainer {
      height: 30rem;
      padding: 1rem 2rem;
    }
    &__textField {
      width: 70rem;
      padding-right: 10rem;
    }
  }
}
