@import "../App.scss";

.about {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }
  &__imageContainer {
    height: 30rem;
    // padding: 1rem 0;
    // width: 15rem;
  }
  &__image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}
.about__textField p {
  margin: 2rem 0;
}
@include xl {
  .about {
    &__container {
      flex-direction: row;
    }
    &__textField {
      width: 70rem;
      padding-right: 10rem;
    }
  }
}
