@import "../App.scss";

.blobBody {
  margin: 0;
  padding: 0;
  // width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: $pink;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #f2bc79;
  width: 25vmax;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  // width: 100vw;
}
.fa-chevron-down {
  align-self: center;
  justify-self: center;
  z-index: 1;
  transform: translateY(5rem);
  font-size: 2rem;
  color: #262223;
  animation: bounce 2s;
  animation-delay: 2s;
  animation-iteration-count: 3;
  // animation-iteration-count: infinite;
  opacity: 0;
}
.container__title {
  z-index: 1;
  padding-left: 4rem;
  @include md {
    padding-left: 10rem;
  }
}
.header {
  &__title {
    font-size: 54px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: $poppins;
    padding: 2rem 0;
    transform: translateX(-600px);
    animation: 0.6s slideIn ease-in forwards 0.1s;
    opacity: 0;
  }
  &__secondTitle {
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: $poppins;
    align-self: flex-start;
    transform: translateY(600px);
    animation: 1.6s slideIn ease-in forwards 0.1s;
    opacity: 0;
  }
}
@keyframes slideIn {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(5rem);
    opacity: 1;
  }
  40% {
    transform: translateY(9rem);
  }
  60% {
    transform: translateY(7rem);
  }
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -90px);
  }
  38% {
    transform: scale(1.3) translate(50vw, 30vh);
  }
  40% {
    transform: scale(1.3) translate(50vw, 30vh);
  }
  78% {
    transform: scale(1) translate(-20vw, 30vh);
  }
  80% {
    transform: scale(1) translate(-20vw, 30vh);
  }
  100% {
    transform: scale(1) translate(10px, -90px);
  }
}

@include md {
  .blob {
    width: 50vmax;
  }
  .header {
    &__title {
      font-size: 94px;
      line-height: 96px;
    }

    &__secondTitle {
      font-size: 44px;
      line-height: 36px;
    }
  }
  .fa-chevron-down {
    transform: translateY(30rem);
  }
  @keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(30rem);
      opacity: 1;
    }
    40% {
      transform: translateY(34rem);
    }
    60% {
      transform: translateY(32rem);
    }
  }
}
