@import "../App.scss";

.project-container {
  background-color: $beige-secondary;
  margin: 0 !important;
  // height: 60rem;
  // display: block;
  // position: relative;
  // top: -20rem;
  transform: translate(0, -20rem);
  // z-index: 1;
}

.curved {
  background-color: $beige-secondary;
  // margin: 0 !important;
  // position: relative;
  // top: -20rem;
  // z-index: -1;
  // transform: translate(0, -20rem);

  &__upper {
    background-color: #fff;
    // position: relative;
    // top: -20rem;
    // transform: translate(0, -20rem);
  }
  &__upper svg {
    display: block;
    &--beige,
    &--pink {
      display: block;
      // margin: 0 !important;
    }
  }
}
.curved svg {
  display: block;
}
.curved.pink {
  background-color: $pink;
  // position: relative;
  // top: -20rem;
}
.pinkBlock {
  // height: 20rem;
  background-color: $pink;
  // position: relative;

  // top: -20rem;
}
