@import "../App.scss";

.wrapper {
  margin-top: 0 !important;
  //to avoid whitespace on mobile beige background
  // position: relative;
  // top: -20rem;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  background-color: $beige-secondary;

  p {
    max-width: 60rem;
  }
  &__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 22rem;
    width: auto;
    padding: 2rem 2rem;
  }
  &__image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #fff;
  }
}

@include lg {
  .projects {
    padding: 5rem 5rem;
    &__imageContainer {
      height: 55rem;
      // width: 45rem;
    }
  }
}
////background sass
.project-background {
  background-color: $beige-secondary;
  position: relative;
  top: -15rem;
}
.curved {
  background-color: $beige-secondary;
  // margin: 0 !important;
  position: relative;
  top: -15rem;
  z-index: -1;
  // transform: translate(0, -20rem);

  &__upper {
    background-color: #fff;
    position: relative;
    top: -15rem;
    // transform: translate(0, -20rem);
  }
  &__upper svg {
    display: block;
    &--beige {
      display: block;
      position: relative;
      // margin: 0 !important;
    }
  }
}
.curved svg {
  display: block;
}
@include md {
  .project-background {
    top: -30rem;
  }
  .curved {
    top: -30rem;

    &__upper {
      top: -30rem;
    }
  }
}
