@import "../App.scss";

.project-background {
  background-color: $beige-secondary;
  height: 35rem;
  z-index: -1;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;

  p {
    max-width: 60rem;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 22rem;
    width: auto;
    padding: 2rem 2rem;

    &--boCapitalImg {
      padding-bottom: 4rem;
    }
  }
  &__image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid rgba(#fff, 0.2);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  &__image:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@include lg {
  .projects {
    padding: 5rem 5rem;
    &__imageContainer {
      height: 55rem;
    }
    &__container {
      flex-wrap: nowrap;
    }
  }
}

.parallax-projects {
  position: absolute;
  width: 100%;
  top: 100rem;
  z-index: -1;
}

.svg svg {
  display: block;
}
