@import "../App.scss";

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  // margin-bottom: -50rem;

  &__outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: $beige;
    margin: 2rem 0;
    padding: 0 2rem;
    border-radius: 5px;
    box-shadow: 8px 8px 15px #262223;
  }
  &__imageContainer {
    height: 20rem;
    width: auto;
    display: flex;
    padding: 2rem 0;
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

@include md {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__outerContainer {
      height: 50rem;
      margin: 5rem 0;
    }
    &__imageContainer {
      height: 25rem;
      width: auto;
    }
  }
}
@include lg {
  .cards {
    &__outerContainer {
      width: 45rem;
    }
  }
}

//background blob
.parallax {
  position: absolute;
  width: 100%;
  top: 670rem;
  z-index: -1;
}
.curved__upperPink {
  background-color: #fff;
  margin: 0;
}
.curved__upperPink svg {
  display: block;
}
.curvedPink svg {
  display: block;
}
.curvedPink {
  background-color: $pink;
  margin: 0;
}
.pinkBlock {
  height: 25rem;
  background-color: $pink;
  margin: 0;
}
