@import "../App.scss";

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: $beige;
    margin: 2rem 0;
    padding: 0 2rem;
    border-radius: 5px;
    box-shadow: 8px 8px 15px #8f8d8d;
  }
  &__imageContainer {
    height: 20rem;
    width: auto;
    display: flex;
    padding: 2rem 0;
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

@include md {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__outerContainer {
      height: 50rem;

      margin: 5rem 0;
    }
    &__imageContainer {
      height: 25rem;
      width: auto;
    }
  }
}
@include lg {
  .cards {
    &__outerContainer {
      width: 45rem;
    }
  }
}

//background blob

.curvedPink {
  // background-color: $beige-secondary;
  // margin: 0 !important;
  position: relative;
  top: -50rem;
  z-index: -1;
}

.curved__upperPink {
  background-color: #fff;
  position: relative;
  top: -50rem;
}
.curved__upperPink svg {
  display: block;
}
.curvedPink svg {
  display: block;
}
.curvedPink {
  background-color: $pink;
  position: relative;
  top: -50rem;
}
.pinkBlock {
  height: 50rem;
  background-color: $pink;
  position: relative;
  top: -50rem;
}

@include md {
  .project-background {
    top: -30rem;
  }
  .curvedPink {
    top: -30rem;

    &__upperPink {
      top: -20rem;
      &--pink {
        top: -50rem;
      }
    }
  }
  .curvedPink {
    top: -50rem;
  }
  .pinkBlock {
    top: -50rem;
  }
}
