@import "./App.scss";

//Globals

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

p {
  font-family: $space-mono;
  font-size: 1.4rem;
  line-height: 24px;
  color: #262223;
  font-weight: 500;
}

h1,
h2 {
  font-family: $poppins;
  color: #262223;
}
h3 {
  font-family: $poppins;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  padding-bottom: 1rem;
  color: #262223;
}
h4 {
  font-family: $poppins;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 21px;
  padding-bottom: 2rem;
  color: #262223;
}
a {
  text-decoration: none !important;
  color: inherit;
}

li {
  font-family: $space-mono;
  list-style: none;
}
// body {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   // background-color: $White;
//   background-color: $Lightgray;
//   // background-color: grey;
// }
@include md {
  p {
    font-size: 1.6rem;
  }
}
